.item {
	border-bottom: 1px dotted white;
	padding: 8px 0px;
}
.item > a {
	color: white;
}
.item:hover > span {
	color: #0d6efd;
}
.footer {
	margin-left: 0px;
}
@media screen and (min-width: 600px) {
	.footer {
		margin-left: 300px;
	}
}
